{% extends 'blank.html' %}
{% block title %}{{group}} group{% endblock %}
{% block main %}
{% block message %}{{'Openn' if redirect else 'Show'}}ing urls in the <span class='courier'>{{group}}</span> group:{% endblock %}
<ul>
    {% for page in pages %}
        <li>
            <span class='courier right-pad'>{{page.time}}</span><b>{{page.title}}</b> — <i><a href="{{page.url}}">{{page.url}}</a></i>
        </li>
    {% endfor %}
</ul>
{{'<button class="btn" onclick="open_all()">Open All</button>' if not redirect}}
<script>
    function open_all(){
        {% for page in pages %}
        window.open("https://{{page.url}}", "_blank");
        {% endfor %}
    }
    {{'open_all()' if redirect}}
</script>
{% endblock %}