{% extends 'blank.html' %}
{% block title %}Tests{% endblock %}
{% block message %}Tests {{'✅' if success else '❌'}}{% endblock %}
{% block style %}
.tester>summary {
    font-size: 1.8rem;
}
table {
    border-collapse: collapse;
    margin: 10px 0;
}
td {
    border: 1px solid #ccc;
    padding: 8px 12px;
}
td.label {
    font-weight: bold;
    background: #f0f0f0;
}
details>span {
    color: red;
}
{% endblock %}
{% block main %}
{% for tester in testers %}
<details id="{{tester.funcname}}" class="tester" {{ '' if tester.success else 'open' }}>
    <summary>{{'✅' if tester.success else '❌'}} {{tester.funcname}}</summary>
    <ul>
        {% for test in tester.tests %}
        <li>
            <p>{{'✅' if test.success else '❌'}} - args: {{test.args}}, kwargs: {{test.kwargs}}</p>
            <table>
                <tr>
                    <td class="label">Expectation:</td>
                    <td>{{test.expect}}</td>
                </tr>
                <tr>
                    {% if test.answer|length > 100 %}
                        <details {{ '' if tester.success else 'open' }} class="answer">
                            <summary>Answer: </summary>
                            {{test.answer|safe}}
                        </details>
                    {% else %}
                        <td class="label">Answer:</td>
                        <td class="answer">{{test.answer|safe}}</td>
                    {% endif %}
                </tr>
                {% if test.reason %}
                <tr>
                    <td class="label">Reason:</td>
                    <td>{{test.reason}}</td>
                </tr>
                {% endif %}
            </table>
        </li>
        <hr>
        {% endfor %}
    </ul>
</details>
{% endfor %}
{% endblock %}