{% extends 'blank.html' %}
{% block title %}Timer{% endblock %}
{% block style %}
body {
  font-family: sans-serif;
  text-align: center;
  padding-top: 10%;
  background: #111;
  color: white;
}
#timer {
  font-size: 5em;
  font-weight: bold;
}
#soundUnlock{
  border-radius: 10px;
  background-color: #333;
  color: white;
}
{% endblock %}
{% block message %}Timer{% endblock %}
{% block main %}
<div id="timer">Loading...</div>
{% if chrome %}
<button id="soundUnlock" autofocus class="btn">Enable Sound for Alarm</button>
{% endif %}
<audio id="beep" src="https://actions.google.com/sounds/v1/alarms/beep_short.ogg" preload="auto"></audio>
{% endblock %}
{% block script %}
  const title = "{% if title %}{{title}} {% endif %}{{timer}}";
  const display = document.getElementById("timer");
  document.getElementById("title").textContent = title + " {{'for' if timer == 'timer' else 'на'}}{{words}}";
  let totalSeconds = {{total_secs}};
  const format = num => String(num).padStart(2, "0");
  const beep = document.getElementById("beep");
  const endTime = Date.now() + totalSeconds * 1000;
  function updateTimer() {
    const remaining = Math.max(0, Math.floor((endTime - Date.now()) / 1000));
    const hours = Math.floor(remaining / 60 / 60);
    const mins = Math.floor(remaining / 60) % 60;
    const secs = remaining % 60;
    display.textContent = `${format(mins)}:${format(secs)}`;
    if(hours)display.textContent = format(hours)+":"+display.textContent;
    document.title = `Timer for ${display.textContent}`
    if (remaining > 0) totalSeconds--;
  }
  setTimeout(() => {
    clearInterval(timerInterval);
    beep.play();
    display.textContent = "Time's up!";
    document.title = "Time's up!";
    alert("Time's up!")
  }, totalSeconds * 1000)
  {% if chrome %}
  const unlockButton = document.getElementById("soundUnlock");
  unlockButton.addEventListener("click", () => {
    beep.play().then(() => {
      beep.pause();
      beep.currentTime = 0;
      unlockButton.style.display = "none";
    }).catch(() => {
      unlockButton.disabled = true;
      unlockButton.textContent = "Sound error!";
    });
  });
  {% endif %}

  updateTimer(); // show initial time immediately
  const timerInterval = setInterval(updateTimer, 300);
{% endblock %}
